* {
  margin : 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}



.kotak-kiri{
  flex: 1;
}

.kotak-kanan{
  flex: 1;
}

.gambar{
  width: 50%;
}